{% extends 'core/base.html' %}
{% load staticfiles %}

{% block content %}
<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body" align="center">
            <div>
                <table class="table table-striped table-responsive-md" style="width:100%">
                    <tr>
                        <th>TURNO</th>
                        <th>CAJA</th>
                    </tr>
                    <tr>
                        <td>10</td>
                        <td>VIP</td>
                    </tr>
                </table>
            </div>
            <br>            
            <div class="content">
                <div class="slide">                    
                    <img src="{% static '/media/gestion_turnos/images/publicidad.jpg' %}"/>
                </div>
 <!--
                <div class="slide">  
                    <h3>holi</h3>                                      
                    <img src="/static/media/gestion_turnos/images/publicidad.jpg" alt="">                
                </div>

                <div class="slide">
                   
                    <h3>holi3</h3>
                    <img src="/gestion_turnos/static/media/gestion_turnos/images/publicidad.jpg" alt="">
                    
                </div>-->
            </div>
        </div>
    </div>        
</div>
{% endblock %}