{% extends 'core/base.html' %}
{% load staticfiles %}

{% block content %}
<div class="card-body" align="center">
    <div>
        <table class="table table-striped table-responsive-md" style="width:100%">
            <tr>
                <th>TURNO</th>
                <th>CAJA</th>
            </tr>
            <tr>
                <td>10</td>
                <td>VIP</td>
            </tr>
        </table>
    </div>
</div>

{% if object_list %}
{% for publicidad in publicidad_list %}
<div class="owl-carousel owl-theme">    
    <h3>holi: {{publicidad.imagen}}</h3>
    <div class="item">  
        <img class="img-fluid" src="/../../../static/media/{{publicidad.imagen}}" alt="{{publicidad.nombre}}"/>                   
        <!-- <img id="img" src="{% static 'media/gestion_turnos/images/Publicidad1.jpg' %}"/> -->                                     
        <!-- {{publicidad.imagen.url | default_if_none:'#'}} -->        
    </div>
    <!--
    <div class="item">  
        <h3>¡Hola!</h3>
    </div>    
    <div class="item">  
        <img class="img-fluid" src="{% static 'core/images/auth/login_1.jpg' %}" alt="1"/>                                       
    </div>
    <div class="item">  
        <img class="img-fluid" src="{% static 'core/images/nueva/register.jpg' %}" alt="2"/>                                       
    </div>
    <div class="item">  
        <img class="img-fluid" src="{% static 'core/images/nueva/p2.png' %}" alt="1"/>                                       
    </div>
    <div class="item">  
        -- no encuentra esta carpeta, por eso no muestra la imagen
            en esta carpeta se guardan las imgs de publicidad --
        <img class="img-fluid" src="../../../static/media/publicidad/paris.jpg" alt="2"/>                                       
    </div> 
    -->         
</div>
{% endfor %} 
{% else %}
<div align="center"> <h3>No hay publicidad</h3> </div>
{% endif %}

{% endblock %}
