{% extends 'core/base.html' %}
{% load staticfiles %}

{% block content %}
<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body" align="center">
            <div id="listarUsuarios">
                {% if object_list %}
                <table class="table table-striped table-responsive">
                    <tr>
                        <th>Codigo publicidad</th>
                        <th>Nombre publicidad</th>
                        <th>Descripcion publicidad</th>
                        <th></th>                        
                    </tr>
                    {% for solicitud in object_list %}
                    <tr>                
                        <td>{{publicidad.codigo}}</td>
                        <td>{{publicidad.nombre}}</td>
                        <td>{{publicidad.descripcion}}</td>
                        <td class="py-1">
                            {{publicidad.imagen}}
                        </td>
                    </tr> 
                    {% endfor %}                 
                </table>
                {% else %}
                <h3>No hay publicidad</h3>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}