{% extends 'core/base.html' %}
{% load staticfiles %}

{% block content %}
<div class="content-wrapper">
    <div class="row">
        <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="form-group" align="center">
                        <h1>¿Seguro que desea borrar la publicidad {{ publicidad.nombre}}? </h1> <br>
                    </div>
                    <form class="forms-sample" method="post">{% csrf_token %}
                        <div align="center">
                            <input class="btn btn-rounded btn-danger" type="submit" value="Confirmar Borrado">
                            <a style="padding: 0.56rem 1.375rem; width: 178px" href="{% url 'list_publicidad' %}" 
                                class="btn btn-rounded btn-primary">Cancelar</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}