{% extends 'core/base.html' %}
{% load staticfiles %}

{% block content %}
<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body" align="center">
            <a class="btn btn-primary" style="color:white" href="{% url 'create_publicidad' %}">NUEVA PUBLICIDAD</a><hr>
            <div>
                {% if object_list %}
                <table class="table table-striped table-responsive">
                    <tr>
                        <th></th>
                        <th>Codigo publicidad</th>
                        <th>Nombre publicidad</th>
                        <th>Descripcion publicidad</th>
                        <!-- <th>Imagen</th> -->                        
                    </tr>
                    {% for publicidad in publicidad_list %}
                    <tr>  
                        <td>
                            <a style="padding: 5px 0px 5px 5px" class="btn btn-sm btn-info" href="{% url 'update_publicidad' publicidad.codigo %}"> <i class="icon-sm mdi mdi-pencil"></i></a>
                            <a style="padding: 5px 0px 5px 5px" class="btn btn-sm btn-danger" href="{% url 'delete_publicidad' publicidad.codigo %}"> <i class="icon-sm mdi mdi-delete"></i></a>
                        </td>              
                        <td>{{publicidad.codigo}}</td>
                        <td>{{publicidad.nombre}}</td>
                        <td>{{publicidad.descripcion}}</td>

                        <!-- <td>  class="py-1" -->  <!-- {% static 'static/media/gestion_turnos/images/{{publicidad.nombre}}' %}}                                                           
                            <img src="{% static 'media/gestion_turnos/images/{{publicidad.nombre}}.jpg'%}" > 
                            <img src="{% static 'media/gestion_turnos/images/Publicidad1.jpg'%}" >                            
                        </td>  -->
                    </tr> 
                    {% endfor %}                 
                </table>
                {% else %}
                <h3>No hay publicidad</h3>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}