<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Gestión de Turno Banco XYZ</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="{% static 'core/vendors/iconfonts/mdi/css/materialdesignicons.min.css'%}">
    <link rel="stylesheet" href="{% static 'core/vendors/css/vendor.bundle.base.css'%}">
    <link rel="stylesheet" href="{% static 'core/vendors/css/vendor.bundle.addons.css'%}">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <link rel="stylesheet" href="{% static 'core/vendors/icheck/skins/all.css'%}">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="{% static 'core/css/style.css'%}">
    <!-- endinject -->
    <link rel="shortcut icon" href="{% static 'core/images/favicon.png'%}" />
    
    {% block extracss %}
        
    {% endblock extracss %}
        
    <!-- slick -->
    <!-- <link rel="stylesheet" type="text/css" href="slick/slick.css"/> -->
    <!-- <link rel="stylesheet" type="text/css" href="slick/slick-theme.css"/> -->
</head>

<body>
    <div class="container-scroller">
        <!-- partial:../../partials/_navbar.html -->

        {% block navbar %}
        {% include 'core/_navbar.html' %}
        {% endblock navbar %}


        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:../../partials/_sidebar.html -->

            {% block sidebar %}
            {% include 'core/_sidebar.html' %}
            {% endblock sidebar %}

            <!---------------- partial ---------------->
            <div class="main-panel">
                {% block content%}{%endblock%}


                <!-- content-wrapper ends -->
                <!-- partial:../../partials/_footer.html -->

                {% block footer %}
                <footer class="footer">
                    <div class="container-fluid clearfix">
                        <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright Plantilla
                            © 2018
                            <a href="http://www.bootstrapdash.com/" target="_blank">Bootstrapdash</a>. All rights
                            reserved.</span>
                        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made
                            with
                            <i class="mdi mdi-heart text-danger"></i>
                        </span>
                    </div>
                </footer>
                {% endblock footer %}

                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="{% static 'core/vendors/js/vendor.bundle.base.js'%}"></script>
    <script src="{% static 'core/vendors/js/vendor.bundle.addons.js'%}"></script>
    <!-- endinject -->
    <!-- Plugin js for this page-->
    <!-- End plugin js for this page-->
    <!-- inject:js -->
    <script src="{% static 'core/js/off-canvas.js'%}"></script>
    <script src="{% static 'core/js/misc.js'%}"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <script src="{% static 'core/js/dashboard.js'%}"></script>

    <!-- slick slideshow -->
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="slick/slick.min.js"></script>

    <script type="text/javascript">
        $('.multiple-items').slick({
            infinite: true,
            slidesToShow: 3,
            slidesToScroll: 3
        });
    </script>

    {% block extrajs %}

    {% endblock extrajs %}

</body>

</html>