{% extends 'core/base.html' %}
{% load staticfiles %}

{% block content %}
<div class="content-wrapper">
    <div class="row">
        <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="form-group" align="center">
                        <h1>Actualizar {{servicio.nombre}} </h1> <br>
                    </div>
                    <form class="forms-sample" method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <br>
                        <div align="center">
                            <input class="btn btn-rounded btn-success" type="submit" value="Guardar">
                            <a style="padding: 0.56rem 1.375rem; width: 178px" href="{% url 'list_servicio' %}" 
                                class="btn btn-rounded btn-danger">Cancelar</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}