{% extends 'core/base.html' %}


{% block extracss %}
<style>
    .main-panel {
        width: 100% !important;
    }

    .btn{
        margin-top: 8px;
        margin-bottom: 8px;
    }
    
    .page-body-wrapper:not(.auth-page){
        padding-top: 0;
    }

    .btn-lg{
        width: 450px;
    }

    .page-body-wrapper:not(.auth-page) {
        padding-top: 0px;
        height: -webkit-fill-available;
    }
</style>
{% endblock extracss %}


<!-- EMPTY BLOCKS TO DELETE BASE CONTENT -->
{% block sidebar %}
{% endblock sidebar %}

{% block navbar %}
{% endblock navbar %}

{% block footer %}
{% endblock footer %}



{%block content%}
<div class="content-wrapper d-flex align-items-center auth auth-bg-1 theme-one row">
    <div class="col-md-3"></div>
    <div class="col-md-4" style="padding-left:80px">
        <div class="card-body" >
            <div class="row" style="justify-content: center;padding-left:80px">
                    <h1>BANCO XYZ</h1>
                    <h3 class="card-description">Seleccione su servicio</h3>
                    <h4 class="card-description">Cliente identificado con cedula: {{identificacion}}</h4>        
            </div>
            <div class="template-demo">
                <form id="myForm" method="post">
                    {%csrf_token%}
                    <input hidden type="text" id="identificacion" name="identificacion" value="{{identificacion}}">
                    <input hidden type="text" id="servicio" name="servicio">
                    
                    {% for servicio in servicios %}
                        <button id="{{servicio.codigo}}" type="button" class="btn btn-primary btn-rounded btn-lg">
                            <h4>{{servicio.nombre}}</h4>
                        </button>
                    {% endfor %}
                </form>

            </div>
        </div>
    </div>
</div>
</div>
<!--- row-->


{%endblock%}


{% block extrajs %}
<script>

$('.btn').click(function () {
    var id_serv = $(this).attr('id');
    console.log(id_serv);
    $("input[name='servicio']").attr('value', id_serv);

    //TODO: Poner captcha aqui(?)
    $('#myForm').submit();
})

</script>
{% endblock extrajs %}