{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="form-group">
                            <h3>{{usuario.rol}}</h3>
                        </div>

                        <form class="forms-sample" method="post">
                            {% if not turno.cliente.nombre %}
                            <p id="not_r">CLIENTE NO REGISTRADO</p>
                            {% csrf_token %}
                            <p><label for="cedula">Cedula:</label> <input type="text" name="cedula" id="cedula"
                                    required="" class="form-control" placeholder="Ingrese la cedula del cliente"
                                    maxlength="20" value="{{turno.cliente.cedula}}"></p>
                            <p><label for="nombre">Nombre:</label> <input type="text" name="nombre" id="nombre"
                                    required="" class="form-control" placeholder="Ingrese el nombre del cliente"
                                    maxlength="50"></p>
                            <p><label for="apellidos">Apellidos:</label> <input type="text" name="apellidos"
                                    id="apellidos" required="" class="form-control"
                                    placeholder="Ingrese los apellidos del cliente" maxlength="50"></p>
                            <p><label for="vip">Vip:</label> <input type="checkbox" name="vip" id="vip"
                                    class="form-control" placeholder="El usuario es VIP?"></p>
                            {% else %}
                            <p>Cliente {{turno.cliente.nombre}} {{turno.cliente.apellidos}}:</p>
                            <p>Cedula: {{turno.cliente.cedula}}</p>
                            <div class="form-control">
                                VIP
                                {% if turno.cliente.vip %}
                                <input type="checkbox" checked name="vip" id="vip" class="form-control"
                                    placeholder="El usuario es VIP?">
                                {% else %}
                                <input type="checkbox" name="vip" id="vip" class="form-control"
                                    placeholder="El usuario es VIP?">
                                {% endif %}

                            </div>
                            {% endif %}
                            <input id="guardar" data-url="{% url 'act_cliente' %}" class="btn btn-rounded btn-success" value="Guardar">


                        </form>
                    </div>
                    <div class="form-group">
                        <h4> TURNO: {{turno.turno}} </h4>
                    </div>
                    <div class="form-group" align="center">
                        <button type="reset" class="btn btn-rounded btn-danger">Cancelar turno</button>
                        <button type="submit" class="btn btn-rounded btn-success">Finalizar turno</button>
                        <button type="submit" class="btn btn-rounded btn-info">Siguiente turno</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock content %}


{% block extrajs %}
<script>
    $("#guardar").click(function () {
        var cedula = $('input[name="cedula"]').val();        
        var vip = $('input[name="vip"]').prop('checked');
        var nombre = $('input[name="nombre"]').val();
        if (nombre == "") {
            swal("Error", "El nombre no puede ser vacio", "warning");
            return;
        }

        var apellidos = $('input[name="apellidos"]').val();
        if (apellidos == "") {
            swal("Error", "Los apellidos no pueden ser vacio", "warning")
            return;
        }
        data = {
            "cedula": cedula,
            "nombre": nombre,
            "apellidos": apellidos,
            "vip": vip,

        }
        var url_ajax = $(this).attr('data-url');

        $.ajax({
            url: url_ajax,
            data: data,
            success: function (respuesta) {
                swal("Exito", "Cliente actualizado con exito", "success");
                setTimeout(function () {
                    location.reload();
                },3000)
            },
            error: function () {
                console.log("No se ha podido obtener la información");
            }
        });

    })
</script>
{% endblock extrajs %}