{% extends 'core/base.html' %}
{% load static %}

<!-- TODO: mensaje de confirmacion de edicion -->

{% block content %}
<div class="content-wrapper">
    <a class="btn btn-primary" style="color:white" href="{% url 'create_usuarios' %}">NUEVO EMPLEADO</a><hr>
    <div class="row">
        {% if usuario_list %}
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">EMPLEADOS</h2>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th style="width: 15px;">Acciones</th>
                                <th>
                                    Código
                                </th>
                                <th>
                                    Nombre Completo
                                </th>
                                <th>
                                    Fecha Nacimiento
                                </th>
                                <th>
                                    Sucursal
                                </th>
                                <th>
                                    Tipo
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for usuario in usuario_list %}
                            <tr>
                                <td>
                                        <a style="padding: 5px 0px 5px 5px" class="btn btn-sm btn-info" href="{% url 'update_usuarios' usuario.id %}"> <i class="icon-sm mdi mdi-pencil"></i></a>
                                        <a style="padding: 5px 0px 5px 5px" class="btn btn-sm btn-danger" href="{% url 'delete_usuarios' usuario.id %}"> <i class="icon-sm mdi mdi-delete"></i></a>
                                </td>
                                <td class="py-1">
                                    {{usuario.username}}
                                </td>
                                <td>
                                    {{usuario.first_name}}
                                    {{usuario.last_name}}
                                </td>
                                <td>
                                    {{usuario.fecha_nacimiento}}
                                </td>
                                <td>
                                    {{usuario.sucursal.nombre}}
                                </td>
                                <td>
                                    {{usuario.rol.get_nombre_display}}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {% else %}
        <h2>No hay empleados registrados</h2>
        {% endif %}
    </div>
</div>

{% endblock content %}